.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 20px;
}

.header {
  text-align: center;
  margin-bottom: 60px;

  &>h1 {
    font-size: 42px;
    font-weight: 800;
  }

  &>p {
    color: #666;
  }
}

.sectionTitle {
  font-size: 28px;
  font-weight: 700;
  margin: 60px 0 20px;
}


.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 20px;
}

.header {
  text-align: center;
  margin-bottom: 60px;

  &>h1 {
    font-size: 42px;
    font-weight: 800;
  }

  &>p {
    color: #666;
  }
}

.imageGrid {
  width: 100%;

  &>img {
    width: 100%;
    border-radius: 12px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.card {
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  background: white;
}

.block {
  background: #f8fafc;
  padding: 24px;
  border-radius: 14px;
  margin-bottom: 20px;

  &>h3 {
    margin-bottom: 10px;
  }

  &>ul {
    padding-left: 18px;
  }
}

.imageArea {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-top: 15px;

  &>img {
    width: 100%;
    border-radius: 4px;
  }
}

@media (max-width: 1180px) {
  .imageArea {
    flex-direction: column;
    align-items: center;

    &>img {
      max-width: 500px;
    }
  }
}


@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }
}